#root {
   
    min-height: 120vh;
    display: flex;
    flex-direction: column;
   
    background-size: cover;
    
  }
  /* Para navegadores Webkit (Chrome, Safari, Opera) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

