.imagen-inicio {
  width: 100%;
  height: auto;
  text-align: center;
}

.imagen-inicio img {
  width: 50%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border: 5px solid #181414;
}

.table-row {
  background-color: #201c1c;
  color: white; 
}

.row1 {
  background-color: #181414;
}

.row2 {
  background-color: #201c1c;

}

.row3 {
  background-color: #181414;
}

.row4 {
  background-color: #201c1c;
}
.mapa {
  width: 50%; 
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;

}
.direccion{
  font-size:medium;
  font-weight: 100;
}




@media (max-width: 915px) {
  
  .imagen-inicio img {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  .mapa{
    width: 80%;
    height: 300px;
  }

 

}




