* {
    background-color: black;
}

.navbar-light .navbar-toggler-icon  {
  background-image: url(	"data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28137, 76, 236, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}
.imagen-inicio {
    width: 100%;
    height: auto;
text-align: center;

  }
  
  .imagen-inicio img {
    width: 50%;
    height: 500px;
    object-fit: cover;
    object-position: center; 
    border: 5px solid black;
  }

  @media (max-width: 768px) {
    .imagen-inicio img {
      height: 300px;
    }
  }